.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 850px;
  height: 100vh;
}

.step-label .MuiStepLabel-iconContainer svg{
  fill: #a31242;
}

