.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 850px;
  min-width: 350px;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 1em .5em;
  }
}